.container {
  padding: 0.2em;
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  height: 200px;
  border: 1px solid chocolate;
  box-shadow: 2px 2px 3px coral;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 50%;
  height: 100%;
}

.metadata {
  margin-left: 0.2em;
}

.title,
.channel {
  margin: 0;
  font-size: 1rem;
}

.channel {
  font-size: 0.8rem;
}
