.search {
  color: white;
  background-color: coral;
  text-align: center;
  padding: 20px;
}

.logo {
  font-size: 20px;
  padding-right: 5px;
}

.input {
  width: 500px;
  height: 25px;
}

.button {
  font-size: 18px;
  background-color: white;
}
