/* Font size */
:root {
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

/* Search */
.search {
  color: white;
  background-color: skyblue;
  text-align: center;
  padding: 10px;
}

.search__logo {
  font-size: var(--font-regular);
  padding-right: 5px;
}

.search__input {
  width: 500px;
  height: 25px;
}

.search__button {
  font-size: var(--font-regular);
}

/* Video */
.video {
  border: 2px solid blue;
  width: 50%;
  height: 150px;
}
